
body {
    background-color: #363636;
}

#search {
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: bisque;
    outline: none;
    font-family: Consolas, serif;
    font-weight: lighter;
}
#search::placeholder {
    font-weight: bold;
    font-family: Consolas;
}

#search-div {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
